li {
    list-style-type: none;
    display: inline;
  }
  
nav {
    background-color: black;
    text-align: center;
  }
  
a {
    text-decoration: none;
    color: white;
  }

img {
    width: 577;
    height: 732
  }