body {
  text-align: center;
   background-color: rgba(177, 175, 175, 0.815);
}

.options {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
    
}