/*Home Page*/

.homenav {
  list-style-type: none;
  display: inline;
  text-align: center;
  background-color:#000000; 
}

.linav {
  background-color: black;
  text-align: center;
  display: inline;
}

.anav {
  display: inline; 
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.anav:hover {
  background-color: grey;
}




/*Aim trainer game*/

.atbody {
  background-color: black;
  text-align: center;
}

.SCORE {
  color: white;
  text-size-adjust: 20px;
}

.AT {
  text-align: center;
  background-color: #000;
  border: .5px solid crimson;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 0 30px 0 crimson,
              0 0 30px 0 crimson,
              0 0 10px 0 crimson inset;
}

#box {
  width: 50px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 200px;
  left: 200px;
  background-color: #000;
  border: .5px solid crimson;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 0 30px 0 crimson,
              0 0 30px 0 crimson,
              0 0 10px 0 crimson inset;
}
