body {
  text-align: center;
   background-color: rgba(177, 175, 175, 0.815);
}

.option1 {
  text-decoration: none;
  border: 0.2px solid #000;
  color: #000;
  background: #e6e4e4;
  padding: 5px;
  border-radius: 1px;
  list-style-type: none;
}

.option2 {
  text-decoration: none;
  border: 0.2px solid #000;
  color: #000;
  background: #e6e4e4;
  padding: 5px;
  border-radius: 1px;
  list-style-type: none;
}